---
import Layout from '../layouts/base.astro';
import { Icon } from "astro-icon/components";
---

<Layout title="🍎">
<div class="px-2 lg:px-4 pt-20 pb-8">
  <h1 class="text-3xl font-bold">Le Problème d'Apple...</h1>
  <p>...C'est qu'ils aiment beaucoup l'argent. Mais vraiment beaucoup.</p>
  <p>Pour qu'Apple accepte d'installer une application, il faut qu'elle ai payé au préalable un certificat de <strong>99$</strong> (à renouveler <strong>chaque année</strong>)</p>
  <p>Pour un projet étudiant ça fait beaucoup. Mais on baisse pas les bras pour autant</p>
  <h2 class="text-xl font-bold">Cagnote Principale</h2>
  <p>Vous pouvez drectement contribuer à la cagnote principale en cliquant juste ici</p>
  <a class="btn btn-warning" href="https://ko-fi.com/funasitien/goal?g=15">
  <img src="/kofi.png" class="w-auto h-8"/>
  Cagnote Globale
  </a>
  <h2 class="text-xl font-bold">Commissions</h2>
  <p>Tout l'argent des commisions ko-fi contribura à la cagnote. Si vous voulez acheter un dessin et aider le projet c'est la bonne option !</p>
  <a class="btn btn-info" href="https://ko-fi.com/funasitien/commissions">
  <img src="/kofi.png" class="w-auto h-8"/>
  Dessins (Guilhem)
  </a>
   
  </div>
      
</Layout>