---
// Ici, on peux ajouter du code, des fichiers ou des variables que l'on pouras ensuite utiliser dans l'HTML

// On importe le composant Icon de astro-icon pour pouvoir l'utiliser dans notre HTML
import Layout from '../layouts/base.astro';
//import { Icon } from "astro-icon/components";
---

<Layout title="Accueil">
  <div class="flex flex-col h-screen justify-center items-center">
    <img src="/pokékerna.png" />
    
    <div class="card card-dash bg-base-100 border-base-300 w-96 mt-4">
      <div class="card-body">
        <h2 class="card-title text-2xl justify-center">PokéKerna arrive !</h2>
        <p>On a juste besoins d'un tout petit peu plus de temps pour vous préparer l'application du siècle !
        </p>
        <p>
          En attendant, pourquoi ne pas faire quelque chose avec ce boutton ?
        </p>
        <div class="card-actions justify-center">
          <button class="btn btn-primary">Je ne fais rien :')</button>
        </div>
      </div>
    </div>
  </div>
</Layout>
