---
// Ici, on peux ajouter du code, des fichiers ou des variables que l'on pouras ensuite utiliser dans l'HTML

// On importe le composant Icon de astro-icon pour pouvoir l'utiliser dans notre HTML
import Layout from "../layouts/base.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Statistiques">
  <div class="flex flex-col min-h-screen justify-center items-center pt-20 pb-8">
    <img src="/pokékerna.png" class="h-32 w-auto" />
    <p class="text-center badge badge-secondary -translate-y-12 border-3 border-primary font-bold">
      STATISTIQUES
    </p>

    <div class="grid grid-cols-1 gap-8">
        <h1 class="text-2xl font-black flex justify-center items-center">
          <div class="inline-grid *:[grid-area:1/1] pr-2">
            <div class="status status-success animate-ping status-xl"></div>
            <div class="status status-success status-xl"></div>
          </div> Serveur
        </h1>
        <div class="stats stats-vertical lg:stats-horizontal border-2 border-dashed bg-base-100">
          <div class="stat max-w-full">
            <Icon
              class="stat-figure text-secondary w-8 h-8"
              name="mdi:file-download"
            />
            <div class="stat-title">Téléchargements</div>
            <div class="stat-value">0</div>
            <div class="stat-desc">
              Nombre de téléchargement
              <br />
              de l'application
            </div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <Icon
                class="stat-figure text-secondary w-8 h-8"
                name="mdi:globe"
              />
            </div>
            <div class="stat-title">Requêtes Web</div>
            <div class="stat-value">4,200</div>
            <div class="stat-desc">
              Nombres d'utilisateurs uniques
              <br />sur app.pokekerna.xyz
            </div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <Icon
                class="stat-figure text-secondary w-8 h-8"
                name="mdi:user-lock-open"
              />
            </div>
            <div class="stat-title">Comptes Enregistrés</div>
            <div class="stat-value">4</div>
            <div class="stat-desc">
              Nombre de comptes inscrits
              <br />et validés.
            </div>
          </div>
        </div>
        <h1 class="text-2xl font-black flex justify-center items-center">
          <div class="inline-grid *:[grid-area:1/1] pr-2">
            <div class="status status-content animate-ping status-xl"></div>
            <div class="status status-content status-xl"></div>
          </div> Cartes
        </h1>
        <div class="stats stats-vertical lg:stats-horizontal border-2 border-dashed bg-base-100">
          <div class="stat max-w-full">
            <Icon
              class="stat-figure text-secondary w-8 h-8"
              name="mdi:wallet-giftcard"
            />
            <div class="stat-title">Boosters Ouverts</div>
            <div class="stat-value">0</div>
            <div class="stat-desc">
              Nombre de boosters
              <br />
              ouverts
            </div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <Icon
                class="stat-figure text-secondary w-8 h-8"
                name="mdi:qrcode"
              />
            </div>
            <div class="stat-title">Codes</div>
            <div class="stat-value">1</div>
            <div class="stat-desc">
              Nombres cartes obtenues
              <br />avec des codes
            </div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <Icon
                class="stat-figure text-secondary w-8 h-8"
                name="mdi:cards-playing"
              />
            </div>
            <div class="stat-title">Cartes Totales</div>
            <div class="stat-value">1</div>
            <div class="stat-desc">
              Nombre de cartes totales
              <br />dans le jeu.
            </div>
          </div>
        </div>
      </div>
    </div>
</Layout>
