---
import Layout from "../layouts/base.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Vérificaion">
  
  <div class="flex flex-col h-screen justify-center items-center">

    <div class="card card-dash bg-base-100 border-base-300 w-96 mt-2">
      <div class="card-body">
        <h2 class="card-title text-2xl justify-center">
          Inscription Réussit 🥳
        </h2>
        <p>
          Si vous voyez ce message, c'est que votre inscription a été validée
          avec succès !
        </p>
        <p>
          Notez cependant que nous validons les comptes manuellement, il se peut
          donc que vous ne puissiez pas accéder à l'application tout de suite.
        </p>
        <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
          <legend class="fieldset-legend">Votre Identifiant</legend>
          <p class="text-center text-3xl -translate-y-2" id="uid">
          </p>
          <p class="text flex justify-center text-center">
            <Icon name="mdi:information-slab-circle" class="text-lg"/>
            Prend une capture d'écran de cette page pour faire vérifier ton compte plus tard !</p>
        </fieldset>
        <p>
          Vous pouvez voir quels comptes sont acceptés dans l'application sur
          notre Roadmap.
        </p>
        <div class="card-actions justify-center pt-2">
          <a class="btn btn-secondary" href="/roadmap">
            <Icon name="mdi:calendar-clock" class="text-3xl" />
            Roadmap
          </a>
          <a class="btn btn-primary" href="/">
            <Icon name="mdi:home" class="text-3xl" />
            Accueil
          </a>
        </div>
      </div>
    </div>
  </div>
  <script is:inline>
    const param = new URLSearchParams(window.location.search).get('uid');
      document.getElementById('uid').textContent = param
        ? param
        : '❌';
    console.log(new URLSearchParams(window.location.search));
  </script>
</Layout>
