---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-base-100 border-base-300 border-b-4 fixed w-full min-w-full z-10 flex flex-col">
  <input type="checkbox" id="toggle" class="peer hidden" />
  <div class="navbar">
    <div class="navbar-start">
      <label for="toggle" class="btn md:hidden">
        <Icon name="mdi:hamburger-menu" class="text-3xl" />
      </label>
      <div class="hidden md:flex gap-2">
        <a class="btn" href="/">
          <Icon name="mdi:home" class="text-3xl" /> Accueil
        </a>
        <a class="btn" href="/faq">
          <Icon name="mdi:message-question" class="text-3xl" /> FAQ
        </a>
        <a class="btn" href="/stats">
          <Icon name="mdi:graph-line-shimmer" class="text-3xl" /> Stats
        </a>
        <a class="btn" href="/roadmap">
          <Icon name="mdi:calendar-clock" class="text-3xl" /> Roadmap
        </a>
      </div>
    </div>
    <div class="navbar-center">
      <a class="hover:scale-110 transition-transform duration-500">
        <img src="/logo_title.png" class="w-32 h-auto" />
      </a>
    </div>
    <div class="navbar-end flex gap-2">
      <button
        class="btn btn-ghost px-2"
        data-set-theme="light"
        data-act-class="hidden">
        <Icon name="mdi:white-balance-sunny" class="text-3xl" />
      </button>
      <button
        class="btn btn-ghost px-2"
        data-set-theme="dark"
        data-act-class="hidden">
        <Icon name="mdi:weather-moonset" class="text-3xl" />
      </button>
      <a
        class="btn btn-primary"
        href="https://app.pokekerna.xyz"
        target="_blank">
        <Icon name="mdi:play-circle" class="text-3xl" />
        <span class="hidden md:block">Application</span>
      </a>
    </div>
  </div>

  <div
    class="max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-96 toggle-checked:max-h-96">
    <ul class="menu menu-lg rounded-box w-full gap-2">
      <li>
        <a href="/">
          <Icon name="mdi:home" class="text-3xl" /> Accueil
        </a>
      </li>
      <li>
        <a href="/faq">
          <Icon name="mdi:message-question" class="text-3xl" /> FAQ
        </a>
      </li>
      <li>
        <a href="/stats">
          <Icon name="mdi:graph-line-shimmer" class="text-3xl" /> Stats
        </a>
      </li>
      <li>
        <a href="/roadmap">
          <Icon name="mdi:calendar-clock" class="text-3xl" /> Roadmap
        </a>
      </li>
    </ul>
  </div>
</div>
