---
const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
import '../assets/app.css';
---
<html lang="fr" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator + " - DreamKit v2.0.1-beta1"} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Pokékerna - { title }</title>
    <script is:inline>
        // ☝️ This script prevent the FART effect.
        if (localStorage.getItem("theme") === null) {
          document.documentElement.setAttribute("data-theme", "light");
        } else
        document.documentElement.setAttribute("data-theme",localStorage.getItem("theme"));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </head>
  <body class="max-w-screen min-h-screen bg-base-200">
    <Navbar />
    <slot />
  </body>
</html>
