---
const { title } = Astro.props;
import '../assets/app.css';
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator + " - DreamKit v2.0.1-beta1"} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>{ title }</title>
  </head>
  <body data-theme="pokelight" class="max-w-screen w-screen min-h-screen bg-base-200">
    <slot />
  </body>
</html>
